Host agovw1-bastion.gov.wbx2.com
  Hostname agovw1-bastion
  User chengkli.fed
  PreferredAuthentications publickey
  IdentityFile /Users/chengkai.liang/.ssh/id_rsa
  ControlPath ~/.ssh/ssh_mux_%h_%p_%r
  ControlMaster auto
  ForwardAgent yes
