Host *
  ForwardAgent yes
  PubKeyAuthentication yes

Host stash.*
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_rsa
  ControlPath ~/.ssh/cm-%r@%h:%p
  ControlMaster auto
  ControlPersist 10m
  UseKeychain yes
  AddKeysToAgent yes

Host dev
  Hostname 54.84.11.127
 
Host dev+*
  ControlMaster auto
  ProxyCommand ssh -T -a $(echo %h |cut -d+ -f1) nc $(echo %h |cut -d+ -f2) %p 2>/dev/null
  ControlPath ~/.ssh/ssh-control_%r@%h:%p
  StrictHostKeyChecking no
