Host stash.*
  PreferredAuthentications publickey
  IdentityFile /Users/chengkai.liang/.ssh/id_ecdsa
  ControlMaster auto
  ForwardAgent yes

Host accounts01
  Hostname accounts01.sea.bigfishgames.com
  User cliang
  IdentityFile ~/.ssh/id_github_ecdsa

Host release01
  Hostname release01.sea.bigfishgames.com
  User cliang
  IdentityFile ~/.ssh/id_github_ecdsa
  ControlMaster auto
  ForwardAgent yes

Host release01.qast
  Hostname release01.qast.bigfishgames.com
  User cliang
  IdentityFile ~/.ssh/id_github_ecdsa

Host github.com
  Hostname ssh.github.com
  Port 443
